@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <p>This simple Web Application was made by Bence Gadanyi for the Leeds Beckett University Cloud Computing Development module.</p>
    <p>Find out more at: <a href="https://bence.codes">bence.codes</a></p>
</div>
